.header__email {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__email {
    font-size: 14px;
    line-height: 17px;
  }
}
